@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  body {
    @apply bg-[url("./assets/bg-image.jpg")] bg-center bg-no-repeat bg-cover bg-fixed;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
@layer components {
  .title {
    @apply text-[#101415] bg-[rgba(33,139,139,0.5)] inline-block p-[5px] rounded-2xl;
  }
  .card {
    @apply bg-white;
    /* border: 2px solid red; */
  }
  .card-container {
    @apply bg-[rgba(83,34,37,0.6)] min-h-[350px];
  }
  .player-card {
    @apply h-[350px] overflow-hidden hover:shadow-[3px_3px_20px_5px_#bb111180];
  }
  .player-card img {
    @apply transition-transform duration-[0.8s] ease-[ease-in-out] h-full w-full;
    filter: drop-shadow(20px 20px 20px black);
  }
  .player-card:hover img {
    @apply scale-[1.2];
    filter: none;
  }
  .h1 {
    @apply text-[aliceblue];
  }
}
